* {
  line-height: 2.2;
  font-size: small;

}

/* the standard styling*/

@media (min-width: 64em) {
  * {
    font-size: medium;
  }
}

.active-dot

h1 {
  font-size: xx-large;
}
h3 {
  font-size: x-large;
}
h2 {
  font-size: xx-large;
}
h4 {
  font-size: large;
}
h5 {
  font-size: xx-large;
}

/*text size for the different headuing */



/* text shadow to inecrease readning and improve contrast */

body.dark {
  background-color: #000000;
  color: white;
  text-shadow: 2px 1px 3px #000000;
}
body.light {
  background-color: aliceblue;
  text-shadow: 2px 2px 3px #000000;
}

body.monospace {
 font-family: monospace;
}

body.arial {
  font-family: Helvetica, Arial, sans-serif;
}

body.times {
  font-family: 'Times New Roman', Times, serif;
}

body.large {
  font-size: medium;
}
body.small {
  font-size: x-small;
}
body.medium {
  font-size: small;
}

body.bold {
 font-weight: 600;
}

body.thin {
  font-weight: 400;
}

body {

  font-weight: 500;
  background-color: #003869;
  color: white;
  text-shadow: 2px 1px 3px #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}




.person {
  background-image: url("../../assets/pexels-simon-robben-614810.jpg");
  background-size: cover;
  opacity: 0.8;
  background-position: center;
}
.person:hover {
  opacity: 1;
}

/* styling for an immage slider */
.slider-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}

.active-dot {
  background-color: #333;
}
