<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="fotter bg-slate-500">
            <div class=" newletter ">
                <div class="flex justify-center">
                    <h2>Prenumerera på vårat nyhetsbrev</h2>
                </div>
                <div class="flex justify-center">
                    <input type="text" placeholder="skriv din emailadress: namn@example.com">
                    <button>skicka</button>
                </div>
            </div>
            <div>
                <h3>vårt nyhetsbrev</h3>
                <div> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi numquam magni, officiis assumenda aut quis adipisci minus deserunt dicta optio architecto quisquam, nostrum cupiditate unde nihil. Repellendus nihil dolorum omnis.</div>
            </div>
            <div class="socials">
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </body>
</html>
