<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/assets/Namnlös.png" type="image/x-icon" />
    <link rel="stylesheet" href="../css/universalStyle.css" />
    <style>
      .icon {
        border-style: solid;
        border-color: aliceblue;
      }
      /* Styles for the dropdown container */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      /* Styles for the dropdown button */
      #dropdown-button {
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
      }
      #dropdown-menu {
        display: none;
        position: absolute;
        z-index: 1;
        list-style: none;
      }
      .dropdown-button:onclick #dropdown-menu {
        display: flex;
      }
      .setting:hover {
        background-color: #2d2d2d;
      }
      .setting {
        padding: 12px;
        padding-left: 40px;
        padding-right: 40px;
      }
    </style>
  </head>
  <body>
    <div
      class="navbar flex justify-between bg-black bg-opacity-60 shadow-lg shd"
    >
      <div class="dropdown shadow-2xl ml-5 w-24">
        <button id="dropdown-button" class=" ">
          <img src="/assets/Namnlös.png" alt="dropdown-button" class="h-12" />
        </button>
        <div id="dropdown-menu" class="bg-black bg-opacity-90 w-80 md:w-96">
          <div class="shadow-xl shadow-black p-2 bg-slate-800">
            <h1 class="text-center m-5 text-2xl">Menu</h1>
          </div>
          <div class="shadow-md shadow-black flex flex-col justify-evenly">
            <a
              href="../index/index.html"
              class="setting lg:text-lg text-center"
            >
              Home</a
            >
            <a
              href="../våra korvtester/sausageTest.html"
              class="setting text-lg text-center"
              >Recsensioner</a
            >
            <a
              href="../korv nära dig/sausageNearYou.html"
              class="setting text-lg text-center"
              >Hitta korv</a
            >
            <a
              href="../korvens historia/history.html"
              class="setting text-lg text-center"
              >Korvens historia</a
            >
            <a
              href="../dagens korv/sausageOfTheDay.html"
              class="setting text-lg text-center"
              >Dagens korv</a
            >
            <a
              href="/pages/galleri/galleri.html"
              class="setting text-lg text-center"
              >korveri</a
            >
            <a href="../om oss/aboutUs.html" class="setting text-lg text-center"
              >Om oss</a
            >
          </div>
          <div class="shadow-xl shadow-black p-2 bg-slate-800">
            <h1 class="text-center m-5 text-2xl">Settings</h1>
          </div>
          <div class="shadow-md shadow-black">
            <h3 class="text-xl text-center m-4 bg-slate-500">Color</h3>
            <div class="flex justify-around">
              <div class="setting" id="colorChangeButton">Dark</div>
              <button onclick="lightMode()" class="setting" id="light">
                Light
              </button>
              <button onclick="normalMode()" class="setting" id="light">
                Normal
              </button>
            </div>
          </div>
          <div class="shadow-md shadow-black">
            <h3 class="text-xl text-center m-4 bg-slate-500">Font</h3>
            <li class="flex justify-around">
              <button onclick="monospace()" class="setting">mono</button>
              <button onclick="arial()" class="setting">Arial</button>
              <button onclick="times()" class="setting">Times</button>
            </li>
          </div>
          <div class="shadow-md shadow-black">
            <h3 class="text-xl text-center m-4 bg-slate-500">text size</h3>
            <li class="flex justify-around">
              <button class="setting" onclick="smallText()">small</button>
              <button class="setting" onclick="mediumText()">medium</button>
              <button class="setting" onclick="largeText()">large</button>
            </li>
          </div>
          <div class="shadow-md shadow-black">
            <h3 class="text-xl text-center m-4 bg-slate-500">Boldness</h3>
            <li class="flex justify-around">
              <button class="setting" onclick="thin()">Thin</button>
              <button class="setting" onclick="medium()">medium</button>
              <button class="setting" onclick="bold()">Bold</button>
            </li>
          </div>
          <div class="shadow-md shadow-black">
            <h3 class="text-xl text-center m-4 bg-slate-500">Line spacing</h3>
            <li class="flex justify-around">
              <button class="setting" onclick="leading('compact')">Compact</button>
              <button class="setting" onclick="leading('norm')">Normal</button>
              <button class="setting" onclick="leading('spaced')">Spaced</button>
            </li>
          </div>
        </div>
      </div>
      <div class="w-full justify-center text-2xl hidden md:flex">
        <a
          href="../index/index.html"
          class="g:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
        >
          Home</a
        >
        <a
          href="../våra korvtester/sausageTest.html"
          class="lg:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
          >Recsensioner</a
        >
        <a
          href="../korv nära dig/sausageNearYou.html"
          class="g:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
          >Hitta</a
        >
        <a
          href="../korvens historia/history.html"
          class="g:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
          >Historia</a
        >
        <a
          href="../dagens korv/sausageOfTheDay.html"
          class="g:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
          >Dagens korv</a
        >
        <a
          href="/pages/galleri/galleri.html"
          class="g:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
          >Korveri</a
        >
        <a
          href="../om oss/aboutUs.html"
          class="g:text-md text-sm md:p-2 xl:p-4 lg:text-bold xl:text-lg"
          >Om oss</a
        >
      </div>
      <div
        id="greetingBox"
        class="py-4 text-md md:hidden lg:block w-72 text-xl md:text-lg lg:"
      ></div>
      <div class="p-4 text-sm md:hidden xl:block">SWE</div>
    </div>
    <script src="/js/colorchange.js"></script>
    <script>
      //  close the dropdown menu when clicking outside of it
      window.addEventListener("click", function (event) {
        const dropdownButton = document.getElementById("dropdown-button");
        const dropdownMenu = document.getElementById("dropdown-menu");
        if (
          event.target !== dropdownButton &&
          !dropdownButton.contains(event.target)
        ) {
          dropdownMenu.style.display = "none";
        }
      });
      // toggle the dropdown menu when the button is clicked
      const dropdownButton = document.getElementById("dropdown-button");
      const dropdownMenu = document.getElementById("dropdown-menu");

      dropdownButton.addEventListener("click", function () {
        dropdownMenu.style.display =
          dropdownMenu.style.display === "block" ? "none" : "block";

        //when thedropdown icon is clicked we show the dropdown menu
      });
      function greetUser() {
        let greetingBox = document.getElementById("greetingBox");
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          //checking if the cookie has the username
          if (cookies[i].includes("name")) {
            let nameStr = cookies[i].split("=");
            let name = nameStr[1];
            console.log(cookies);
            console.log(name);
            greetingBox.innerHTML = "Hej  " + name + "!";
          }
        }
      }

      //function for getting a cookie and greeting the user by its name
      greetUser();

      //function for changing the color of the site

      const colorChangeButton = document.getElementById("colorChangeButton");
      colorChangeButton.addEventListener("click", function () {
        // Toggle the 'color-change' class on the body element
        document.cookie = "color=dark";

        location.reload();
      });
      function lightMode() {
        document.cookie = "color=light";

        location.reload();
      }
      function normalMode() {
        document.cookie = "color=normal";

        location.reload();
      }
      // function for changing the text font
      function monospace() {
        document.cookie = "font=monospace";
        location.reload();
      }
      function arial() {
        document.cookie = "font=arial";
        location.reload();
      }
      function times() {
        document.cookie = "font=times";
        location.reload();
      }
      //function for changing the size of the text
      function smallText() {
        document.cookie = "text=small";
        location.reload();
      }
      function largeText() {
        document.cookie = "text=large";
        location.reload();
      }
      function mediumText() {
        document.cookie = "text=medium";
        location.reload();
      }
      //functions for changing the font thickness
      function bold() {
        document.cookie = "thickness=bold";
        location.reload();
      }
      function thin() {
        document.cookie = "thickness=thin";
        location.reload();
      }
      function medium() {
        document.cookie = "thickness=medium";
        locatio.reload();
        n.reload();
      }
       //this code could be reduced by isted of writing out al lot of functions use on function that that takes in different parameters
      function leading(value) {
        const body = document.body;
        body.classList.toggle(value);
        locatio.reload();
      }
     
    </script>
  </body>
</html>
