<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="/assets/Namnlös.png" type="image/x-icon">
    </head>
    <body>
        <div class="bg-slate-500 flex justify-between">
            <dir>
                <img src="../assets/Namnlös.png" alt="" class=" h- rounded-full">
            </dir>
            <div class="flex mr-40">
                <div class="p-5">
                    <a href="../pages/index/index.html"> Home</a>
                </div>
                <div class="p-5">
                    <a href="../pages/våra korvtester/sausageTest.html">Recsensioner</a>
                </div>
                <div class="p-5">
                    <a href="../pages/korv nära dig/sausageNearYou.html">hitta korv</a>
                </div>
                <div class="p-5">
                    <a href="../pages/korvens historia/history.html">Korvens historia</a>
                </div>
                <div class="p-5">
                    <a href="../pages/dagens korv/sausageOfTheDay.html">dagens korv</a>
                </div>
                <div class="p-5">
                    <a href="">Om oss</a>
                </div>
            </div>
        </div>
    </body>
</html>
