<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" href="/assets/Namnlös.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/universalStyle.css">
    </head>
    <body>
        <div class="navbar flex justify-between bg-black bg-opacity-30 shadow-lg shd">
            <a href="../index/index.html">
                <img src="/assets/Namnlös.png" alt="" class="h-10 rounded-full m-3 ml-7 bg-opacity-10">
            </a>
            <div class="flex mr-40">
                <div class="p-5">
                    <a href="../index/index.html"> Home</a>
                </div>
                <div class="p-5">
                    <a href="../våra korvtester/sausageTest.html">Recsensioner</a>
                </div>
                <div class="p-5">
                    <a href="../korv nära dig/sausageNearYou.html">hitta korv</a>
                </div>
                <div class="p-5">
                    <a href="../korvens historia/history.html">Korvens historia</a>
                </div>
                <div class="p-5">
                    <a href="../dagens korv/sausageOfTheDay.html">dagens korv</a>
                </div>
                <div class="p-5">
                    <a href="../om oss/aboutUs.html">Om oss</a>
                </div>
            </div>
        </div>
    </body>
</html>
